RewriteEngine On
RewriteBase /register/verify/

# Redirect URLs of the form /login/reset/verify/yourkeyhere to /login/reset/verify/default.php?key=yourkeyhere
RewriteRule ^([a-zA-Z0-9]+)$ default.php?key=$1 [L,QSA]